# Install PySpark-rapids
---

PySpark with RAPIDS need to over PySpark 3.2.0 version

Basically PySpark with RAPIDS doesn't need to change code, it is called zero-code change

It means, You can use GPU Accelerated PySpark3 on your server, just set PySpark-Rapids

## Check Drivers

In [2]:
import os

# 1. Java 확인
!java -version
print("JAVA_HOME:", os.environ.get("JAVA_HOME"))

# 2. PySpark 확인
!pip show pyspark

# 3. Spark 홈 디렉토리 확인
print("SPARK_HOME:", os.environ.get("SPARK_HOME"))

# 4. Python 실행 경로 확인
!which python
print("PYSPARK_PYTHON:", os.environ.get("PYSPARK_PYTHON"))

openjdk version "11.0.26" 2025-01-21
OpenJDK Runtime Environment (build 11.0.26+4-post-Ubuntu-1ubuntu120.04)
OpenJDK 64-Bit Server VM (build 11.0.26+4-post-Ubuntu-1ubuntu120.04, mixed mode, sharing)
JAVA_HOME: /usr/lib/jvm/java-11-openjdk-amd64
Name: pyspark
Version: 3.4.4
Summary: Apache Spark Python API
Home-page: https://github.com/apache/spark/tree/master/python
Author: Spark Developers
Author-email: dev@spark.apache.org
License: http://www.apache.org/licenses/LICENSE-2.0
Location: /home/cvmi_jeyoung/anaconda3/envs/rapids2/lib/python3.10/site-packages
Requires: py4j
Required-by:
SPARK_HOME: None
/home/cvmi_jeyoung/anaconda3/envs/rapids2/bin/python
PYSPARK_PYTHON: None

In [2]:
!nvidia-smi

Wed Mar  5 21:30:33 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.90.07              Driver Version: 550.90.07      CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  NVIDIA GeForce RTX 2080 ...    Off |   00000000:05:00.0 Off |                  N/A |
|  0%   48C    P8             16W /  250W |      14MiB /   8192MiB |      0%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+
|   1  NVIDIA GeForce RTX 2080 ...    Off |   00000000:06:00.0  On |                  N/A |
| 22%   52C    P8             24W /  250W |    1003MiB /   8192MiB |     16%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|    0   N/A  N/A      1681      G   /usr/lib/xorg/Xorg                              4MiB |
|    0   N/A  N/A      2200      G   /usr/lib/xorg/Xorg                              4MiB |
|    1   N/A  N/A      1681      G   /usr/lib/xorg/Xorg                             59MiB |
|    1   N/A  N/A      2200      G   /usr/lib/xorg/Xorg                            682MiB |
|    1   N/A  N/A      2330      G   /usr/bin/gnome-shell                           45MiB |
|    1   N/A  N/A      3973      G   ...71,262144 --variations-seed-version         84MiB |
|    1   N/A  N/A     15901      G   ...erProcess --variations-seed-version        115MiB |
+-----------------------------------------------------------------------------------------+

## Install Apach PySpark Local

In [3]:
!wget https://dlcdn.apache.org/spark/spark-3.4.4/spark-3.4.4-bin-hadoop3.tgz -P ./pyspark
!tar -xvf ./pyspark/spark-3.4.4-bin-hadoop3.tgz -C ./pyspark

--2025-03-05 21:30:33--  https://dlcdn.apache.org/spark/spark-3.4.4/spark-3.4.4-bin-hadoop3.tgz
dlcdn.apache.org (dlcdn.apache.org) 해석 중... 151.101.2.132, 2a04:4e42::644
다음으로 연결 중: dlcdn.apache.org (dlcdn.apache.org)|151.101.2.132|:443... 연결했습니다.
200 OK청을 보냈습니다. 응답 기다리는 중...
길이: 388988563 (371M) [application/x-gzip]
저장 위치: `./pyspark/spark-3.4.4-bin-hadoop3.tgz.1'

spark-3.4.4-bin-had 100%[===================>] 370.97M  7.12MB/s    / 44s

2025-03-05 21:31:18 (8.37 MB/s) - `./pyspark/spark-3.4.4-bin-hadoop3.tgz.1' 저장함 [388988563/388988563]

spark-3.4.4-bin-hadoop3/
spark-3.4.4-bin-hadoop3/jars/
spark-3.4.4-bin-hadoop3/jars/HikariCP-2.5.1.jar
spark-3.4.4-bin-hadoop3/jars/JLargeArrays-1.5.jar
spark-3.4.4-bin-hadoop3/jars/JTransforms-3.1.jar
spark-3.4.4-bin-hadoop3/jars/RoaringBitmap-0.9.38.jar
spark-3.4.4-bin-hadoop3/jars/ST4-4.0.4.jar
spark-3.4.4-bin-hadoop3/jars/activation-1.1.1.jar
spark-3.4.4-bin-hadoop3/jars/aircompressor-0.21.jar
spark-3.4.4-bin-hadoop3/jars/algebra_2.12-2.0.1.jar
spark-3.4.4-bin-hadoop3/jars/annotations-17.0.0.jar
spark-3.4.4-bin-hadoop3/jars/antlr-runtime-3.5.2.jar
spark-3.4.4-bin-hadoop3/jars/antlr4-runtime-4.9.3.jar
spark-3.4.4-bin-hadoop3/jars/aopalliance-repackaged-2.6.1.jar
spark-3.4.4-bin-hadoop3/jars/arpack-3.0.3.jar
spark-3.4.4-bin-hadoop3/jars/arpack_combined_all-0.1.jar
spark-3.4.4-bin-hadoop3/jars/arrow-format-11.0.0.jar
spark-3.4.4-bin-hadoop3/jars/arrow-memory-core-11.0.0.jar
spark-3.4.4-bin-hadoop3/jars/arrow-memory-netty-11.0.0.jar
spark-3.4.4-bin-hadoop3/jars/arrow-vector-11.0.0.jar
spark-3.4.4-bin-hadoop3/jars/audience-annotations-0.5.0.jar
spark-3.4.4-bin-hadoop3/jars/avro-1.11.1.jar
spark-3.4.4-bin-hadoop3/jars/avro-ipc-1.11.1.jar
spark-3.4.4-bin-hadoop3/jars/avro-mapred-1.11.1.jar
spark-3.4.4-bin-hadoop3/jars/blas-3.0.3.jar
spark-3.4.4-bin-hadoop3/jars/bonecp-0.8.0.RELEASE.jar
spark-3.4.4-bin-hadoop3/jars/breeze-macros_2.12-2.1.0.jar
spark-3.4.4-bin-hadoop3/jars/breeze_2.12-2.1.0.jar
spark-3.4.4-bin-hadoop3/jars/cats-kernel_2.12-2.1.1.jar
spark-3.4.4-bin-hadoop3/jars/chill-java-0.10.0.jar
spark-3.4.4-bin-hadoop3/jars/chill_2.12-0.10.0.jar
spark-3.4.4-bin-hadoop3/jars/commons-cli-1.5.0.jar
spark-3.4.4-bin-hadoop3/jars/commons-codec-1.15.jar
spark-3.4.4-bin-hadoop3/jars/commons-collections-3.2.2.jar
spark-3.4.4-bin-hadoop3/jars/commons-collections4-4.4.jar
spark-3.4.4-bin-hadoop3/jars/commons-compiler-3.1.9.jar
spark-3.4.4-bin-hadoop3/jars/commons-compress-1.22.jar
spark-3.4.4-bin-hadoop3/jars/commons-crypto-1.1.0.jar
spark-3.4.4-bin-hadoop3/jars/commons-dbcp-1.4.jar
spark-3.4.4-bin-hadoop3/jars/commons-io-2.11.0.jar
spark-3.4.4-bin-hadoop3/jars/commons-lang-2.6.jar
spark-3.4.4-bin-hadoop3/jars/commons-lang3-3.12.0.jar
spark-3.4.4-bin-hadoop3/jars/commons-logging-1.1.3.jar
spark-3.4.4-bin-hadoop3/jars/commons-math3-3.6.1.jar
spark-3.4.4-bin-hadoop3/jars/commons-pool-1.5.4.jar
spark-3.4.4-bin-hadoop3/jars/commons-text-1.10.0.jar
spark-3.4.4-bin-hadoop3/jars/compress-lzf-1.1.2.jar
spark-3.4.4-bin-hadoop3/jars/curator-client-2.13.0.jar
spark-3.4.4-bin-hadoop3/jars/curator-framework-2.13.0.jar
spark-3.4.4-bin-hadoop3/jars/curator-recipes-2.13.0.jar
spark-3.4.4-bin-hadoop3/jars/datanucleus-api-jdo-4.2.4.jar
spark-3.4.4-bin-hadoop3/jars/datanucleus-core-4.1.17.jar
spark-3.4.4-bin-hadoop3/jars/datanucleus-rdbms-4.1.19.jar
spark-3.4.4-bin-hadoop3/jars/derby-10.14.2.0.jar
spark-3.4.4-bin-hadoop3/jars/dropwizard-metrics-hadoop-metrics2-reporter-0.1.2.jar
spark-3.4.4-bin-hadoop3/jars/flatbuffers-java-1.12.0.jar
spark-3.4.4-bin-hadoop3/jars/gson-2.2.4.jar
spark-3.4.4-bin-hadoop3/jars/guava-14.0.1.jar
spark-3.4.4-bin-hadoop3/jars/hadoop-client-api-3.3.4.jar
spark-3.4.4-bin-hadoop3/jars/hadoop-client-runtime-3.3.4.jar
spark-3.4.4-bin-hadoop3/jars/hadoop-shaded-guava-1.1.1.jar
spark-3.4.4-bin-hadoop3/jars/hadoop-yarn-server-web-proxy-3.3.4.jar
spark-3.4.4-bin-hadoop3/jars/hive-beeline-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-cli-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-common-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-exec-2.3.9-core.jar
spark-3.4.4-bin-hadoop3/jars/hive-jdbc-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-llap-common-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-metastore-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-serde-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-service-rpc-3.1.3.jar
spark-3.4.4-bin-hadoop3/jars/hive-shims-0.23-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-shims-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-shims-common-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-shims-scheduler-2.3.9.jar
spark-3.4.4-bin-hadoop3/jars/hive-storage-api-2.8.1.jar
spark-3.4.4-bin-hadoop3/jars/hk2-api-2.6.1.jar
spark-3.4.4-bin-hadoop3/jars/hk2-locator-2.6.1.jar
spark-3.4.4-bin-hadoop3/jars/hk2-utils-2.6.1.jar
spark-3.4.4-bin-hadoop3/jars/httpclient-4.5.14.jar
spark-3.4.4-bin-hadoop3/jars/httpcore-4.4.16.jar
spark-3.4.4-bin-hadoop3/jars/istack-commons-runtime-3.0.8.jar
spark-3.4.4-bin-hadoop3/jars/ivy-2.5.1.jar
spark-3.4.4-bin-hadoop3/jars/jackson-annotations-2.14.2.jar
spark-3.4.4-bin-hadoop3/jars/jackson-core-2.14.2.jar
spark-3.4.4-bin-hadoop3/jars/jackson-core-asl-1.9.13.jar
spark-3.4.4-bin-hadoop3/jars/jackson-databind-2.14.2.jar
spark-3.4.4-bin-hadoop3/jars/jackson-dataformat-yaml-2.14.2.jar
spark-3.4.4-bin-hadoop3/jars/jackson-datatype-jsr310-2.14.2.jar
spark-3.4.4-bin-hadoop3/jars/jackson-mapper-asl-1.9.13.jar
spark-3.4.4-bin-hadoop3/jars/jackson-module-scala_2.12-2.14.2.jar
spark-3.4.4-bin-hadoop3/jars/jakarta.annotation-api-1.3.5.jar
spark-3.4.4-bin-hadoop3/jars/jakarta.inject-2.6.1.jar
spark-3.4.4-bin-hadoop3/jars/jakarta.servlet-api-4.0.3.jar
spark-3.4.4-bin-hadoop3/jars/jakarta.validation-api-2.0.2.jar
spark-3.4.4-bin-hadoop3/jars/jakarta.ws.rs-api-2.1.6.jar
spark-3.4.4-bin-hadoop3/jars/jakarta.xml.bind-api-2.3.2.jar
spark-3.4.4-bin-hadoop3/jars/janino-3.1.9.jar
spark-3.4.4-bin-hadoop3/jars/javassist-3.25.0-GA.jar
spark-3.4.4-bin-hadoop3/jars/javax.jdo-3.2.0-m3.jar
spark-3.4.4-bin-hadoop3/jars/javolution-5.5.1.jar
spark-3.4.4-bin-hadoop3/jars/jaxb-runtime-2.3.2.jar
spark-3.4.4-bin-hadoop3/jars/jcl-over-slf4j-2.0.6.jar
spark-3.4.4-bin-hadoop3/jars/jdo-api-3.0.1.jar
spark-3.4.4-bin-hadoop3/jars/jersey-client-2.36.jar
spark-3.4.4-bin-hadoop3/jars/jersey-common-2.36.jar
spark-3.4.4-bin-hadoop3/jars/jersey-container-servlet-2.36.jar
spark-3.4.4-bin-hadoop3/jars/jersey-container-servlet-core-2.36.jar
spark-3.4.4-bin-hadoop3/jars/jersey-hk2-2.36.jar
spark-3.4.4-bin-hadoop3/jars/jersey-server-2.36.jar
spark-3.4.4-bin-hadoop3/jars/jline-2.14.6.jar
spark-3.4.4-bin-hadoop3/jars/joda-time-2.12.2.jar
spark-3.4.4-bin-hadoop3/jars/jodd-core-3.5.2.jar
spark-3.4.4-bin-hadoop3/jars/jpam-1.1.jar
spark-3.4.4-bin-hadoop3/jars/json-1.8.jar
spark-3.4.4-bin-hadoop3/jars/json4s-ast_2.12-3.7.0-M11.jar
spark-3.4.4-bin-hadoop3/jars/json4s-core_2.12-3.7.0-M11.jar
spark-3.4.4-bin-hadoop3/jars/json4s-jackson_2.12-3.7.0-M11.jar
spark-3.4.4-bin-hadoop3/jars/json4s-scalap_2.12-3.7.0-M11.jar
spark-3.4.4-bin-hadoop3/jars/jsr305-3.0.0.jar
spark-3.4.4-bin-hadoop3/jars/jta-1.1.jar
spark-3.4.4-bin-hadoop3/jars/jul-to-slf4j-2.0.6.jar
spark-3.4.4-bin-hadoop3/jars/kryo-shaded-4.0.2.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-client-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-client-api-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-httpclient-okhttp-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-admissionregistration-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-apiextensions-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-apps-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-autoscaling-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-batch-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-certificates-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-common-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-coordination-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-core-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-discovery-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-events-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-extensions-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-flowcontrol-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-gatewayapi-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-metrics-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-networking-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-node-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-policy-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-rbac-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-scheduling-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/kubernetes-model-storageclass-6.4.1.jar
spark-3.4.4-bin-hadoop3/jars/lapack-3.0.3.jar
spark-3.4.4-bin-hadoop3/jars/leveldbjni-all-1.8.jar
spark-3.4.4-bin-hadoop3/jars/libfb303-0.9.3.jar
spark-3.4.4-bin-hadoop3/jars/libthrift-0.12.0.jar
spark-3.4.4-bin-hadoop3/jars/log4j-1.2-api-2.19.0.jar
spark-3.4.4-bin-hadoop3/jars/log4j-api-2.19.0.jar
spark-3.4.4-bin-hadoop3/jars/log4j-core-2.19.0.jar
spark-3.4.4-bin-hadoop3/jars/log4j-slf4j2-impl-2.19.0.jar
spark-3.4.4-bin-hadoop3/jars/logging-interceptor-3.12.12.jar
spark-3.4.4-bin-hadoop3/jars/lz4-java-1.8.0.jar
spark-3.4.4-bin-hadoop3/jars/mesos-1.4.3-shaded-protobuf.jar
spark-3.4.4-bin-hadoop3/jars/metrics-core-4.2.15.jar
spark-3.4.4-bin-hadoop3/jars/metrics-graphite-4.2.15.jar
spark-3.4.4-bin-hadoop3/jars/metrics-jmx-4.2.15.jar
spark-3.4.4-bin-hadoop3/jars/metrics-json-4.2.15.jar
spark-3.4.4-bin-hadoop3/jars/metrics-jvm-4.2.15.jar
spark-3.4.4-bin-hadoop3/jars/minlog-1.3.0.jar
spark-3.4.4-bin-hadoop3/jars/netty-all-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-buffer-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-codec-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-codec-http-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-codec-http2-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-codec-socks-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-common-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-handler-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-handler-proxy-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-resolver-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-transport-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-transport-classes-epoll-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-transport-classes-kqueue-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/netty-transport-native-epoll-4.1.87.Final-linux-aarch_64.jar
spark-3.4.4-bin-hadoop3/jars/netty-transport-native-epoll-4.1.87.Final-linux-x86_64.jar
spark-3.4.4-bin-hadoop3/jars/netty-transport-native-kqueue-4.1.87.Final-osx-aarch_64.jar
spark-3.4.4-bin-hadoop3/jars/netty-transport-native-kqueue-4.1.87.Final-osx-x86_64.jar
spark-3.4.4-bin-hadoop3/jars/netty-transport-native-unix-common-4.1.87.Final.jar
spark-3.4.4-bin-hadoop3/jars/objenesis-3.2.jar
spark-3.4.4-bin-hadoop3/jars/okhttp-3.12.12.jar
spark-3.4.4-bin-hadoop3/jars/okio-1.17.6.jar
spark-3.4.4-bin-hadoop3/jars/opencsv-2.3.jar
spark-3.4.4-bin-hadoop3/jars/orc-core-1.8.7-shaded-protobuf.jar
spark-3.4.4-bin-hadoop3/jars/orc-mapreduce-1.8.7-shaded-protobuf.jar
spark-3.4.4-bin-hadoop3/jars/orc-shims-1.8.7.jar
spark-3.4.4-bin-hadoop3/jars/oro-2.0.8.jar
spark-3.4.4-bin-hadoop3/jars/osgi-resource-locator-1.0.3.jar
spark-3.4.4-bin-hadoop3/jars/paranamer-2.8.jar
spark-3.4.4-bin-hadoop3/jars/parquet-column-1.12.3.jar
spark-3.4.4-bin-hadoop3/jars/parquet-common-1.12.3.jar
spark-3.4.4-bin-hadoop3/jars/parquet-encoding-1.12.3.jar
spark-3.4.4-bin-hadoop3/jars/parquet-format-structures-1.12.3.jar
spark-3.4.4-bin-hadoop3/jars/parquet-hadoop-1.12.3.jar
spark-3.4.4-bin-hadoop3/jars/parquet-jackson-1.12.3.jar
spark-3.4.4-bin-hadoop3/jars/pickle-1.3.jar
spark-3.4.4-bin-hadoop3/jars/protobuf-java-2.5.0.jar
spark-3.4.4-bin-hadoop3/jars/py4j-0.10.9.7.jar
spark-3.4.4-bin-hadoop3/jars/rocksdbjni-7.9.2.jar
spark-3.4.4-bin-hadoop3/jars/scala-collection-compat_2.12-2.7.0.jar
spark-3.4.4-bin-hadoop3/jars/scala-compiler-2.12.17.jar
spark-3.4.4-bin-hadoop3/jars/scala-library-2.12.17.jar
spark-3.4.4-bin-hadoop3/jars/scala-parser-combinators_2.12-2.1.1.jar
spark-3.4.4-bin-hadoop3/jars/scala-reflect-2.12.17.jar
spark-3.4.4-bin-hadoop3/jars/scala-xml_2.12-2.1.0.jar
spark-3.4.4-bin-hadoop3/jars/shims-0.9.38.jar
spark-3.4.4-bin-hadoop3/jars/slf4j-api-2.0.6.jar
spark-3.4.4-bin-hadoop3/jars/snakeyaml-1.33.jar
spark-3.4.4-bin-hadoop3/jars/snappy-java-1.1.10.5.jar
spark-3.4.4-bin-hadoop3/jars/spark-catalyst_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-core_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-graphx_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-hive-thriftserver_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-hive_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-kubernetes_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-kvstore_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-launcher_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-mesos_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-mllib-local_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-mllib_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-network-common_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-network-shuffle_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-repl_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-sketch_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-sql_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-streaming_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-tags_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-unsafe_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spark-yarn_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/jars/spire-macros_2.12-0.17.0.jar
spark-3.4.4-bin-hadoop3/jars/spire-platform_2.12-0.17.0.jar
spark-3.4.4-bin-hadoop3/jars/spire-util_2.12-0.17.0.jar
spark-3.4.4-bin-hadoop3/jars/spire_2.12-0.17.0.jar
spark-3.4.4-bin-hadoop3/jars/stax-api-1.0.1.jar
spark-3.4.4-bin-hadoop3/jars/stream-2.9.6.jar
spark-3.4.4-bin-hadoop3/jars/super-csv-2.2.0.jar
spark-3.4.4-bin-hadoop3/jars/threeten-extra-1.7.1.jar
spark-3.4.4-bin-hadoop3/jars/tink-1.7.0.jar
spark-3.4.4-bin-hadoop3/jars/transaction-api-1.1.jar
spark-3.4.4-bin-hadoop3/jars/univocity-parsers-2.9.1.jar
spark-3.4.4-bin-hadoop3/jars/xbean-asm9-shaded-4.22.jar
spark-3.4.4-bin-hadoop3/jars/xz-1.9.jar
spark-3.4.4-bin-hadoop3/jars/zjsonpatch-0.3.0.jar
spark-3.4.4-bin-hadoop3/jars/zookeeper-3.6.3.jar
spark-3.4.4-bin-hadoop3/jars/zookeeper-jute-3.6.3.jar
spark-3.4.4-bin-hadoop3/jars/zstd-jni-1.5.2-5.jar
spark-3.4.4-bin-hadoop3/RELEASE
spark-3.4.4-bin-hadoop3/yarn/
spark-3.4.4-bin-hadoop3/yarn/spark-3.4.4-yarn-shuffle.jar
spark-3.4.4-bin-hadoop3/kubernetes/
spark-3.4.4-bin-hadoop3/kubernetes/dockerfiles/
spark-3.4.4-bin-hadoop3/kubernetes/dockerfiles/spark/
spark-3.4.4-bin-hadoop3/kubernetes/dockerfiles/spark/bindings/
spark-3.4.4-bin-hadoop3/kubernetes/dockerfiles/spark/bindings/R/
spark-3.4.4-bin-hadoop3/kubernetes/dockerfiles/spark/bindings/R/Dockerfile
spark-3.4.4-bin-hadoop3/kubernetes/dockerfiles/spark/bindings/python/
spark-3.4.4-bin-hadoop3/kubernetes/dockerfiles/spark/bindings/python/Dockerfile
spark-3.4.4-bin-hadoop3/kubernetes/dockerfiles/spark/decom.sh
spark-3.4.4-bin-hadoop3/kubernetes/dockerfiles/spark/Dockerfile
spark-3.4.4-bin-hadoop3/kubernetes/dockerfiles/spark/entrypoint.sh
spark-3.4.4-bin-hadoop3/kubernetes/tests/
spark-3.4.4-bin-hadoop3/kubernetes/tests/autoscale.py
spark-3.4.4-bin-hadoop3/kubernetes/tests/decommissioning.py
spark-3.4.4-bin-hadoop3/kubernetes/tests/decommissioning_cleanup.py
spark-3.4.4-bin-hadoop3/kubernetes/tests/py_container_checks.py
spark-3.4.4-bin-hadoop3/kubernetes/tests/pyfiles.py
spark-3.4.4-bin-hadoop3/kubernetes/tests/python_executable_check.py
spark-3.4.4-bin-hadoop3/kubernetes/tests/worker_memory_check.py
spark-3.4.4-bin-hadoop3/examples/
spark-3.4.4-bin-hadoop3/examples/jars/
spark-3.4.4-bin-hadoop3/examples/jars/scopt_2.12-3.7.1.jar
spark-3.4.4-bin-hadoop3/examples/jars/spark-examples_2.12-3.4.4.jar
spark-3.4.4-bin-hadoop3/examples/src/
spark-3.4.4-bin-hadoop3/examples/src/main/
spark-3.4.4-bin-hadoop3/examples/src/main/java/
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaHdfsLR.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaLogQuery.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaPageRank.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaSparkPi.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaStatusTrackerDemo.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaTC.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/JavaWordCount.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaAFTSurvivalRegressionExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaALSExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaBinarizerExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaBisectingKMeansExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaBucketedRandomProjectionLSHExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaBucketizerExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaChiSqSelectorExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaChiSquareTestExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaCorrelationExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaCountVectorizerExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaDCTExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaDecisionTreeClassificationExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaDecisionTreeRegressionExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaDocument.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaElementwiseProductExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaEstimatorTransformerParamExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaFMClassifierExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaFMRegressorExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaFPGrowthExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaFeatureHasherExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaGaussianMixtureExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaGeneralizedLinearRegressionExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaGradientBoostedTreeClassifierExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaGradientBoostedTreeRegressorExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaImputerExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaIndexToStringExample.java
spark-3.4.4-bin-hadoop3/examples/src/main/java/org/apache/spark/examples/ml/JavaInteractionExample.java

## Set PySpark with JAVA Home

In [3]:
os.environ["SPARK_HOME"] = f"{os.getcwd()}/pyspark/spark-3.4.4-bin-hadoop3"
os.environ["PATH"] =f"{os.environ.get('SPARK_HOME')}/bin:{os.environ.get('PATH')}"

# if you need to add JAVA path, run below code
# os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
# os.environ["PATH"]=f"{os.environ.get('JAVA_HOME')}/bin:{os.environ.get('PATH')}"

In [5]:
!echo $SPARK_HOME
!echo $PWD

/media/HDD/JeYoung/Fundamentals_of_GPU_DataScience_with_RAPIDS/Chapter07/pyspark/spark-3.4.4-bin-hadoop3
/media/HDD/JeYoung/Fundamentals_of_GPU_DataScience_with_RAPIDS/Chapter07

In [6]:
!pip install pyspark==3.4.4
!pip install findspark

Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: pyspark==3.4.4 in /home/cvmi_jeyoung/anaconda3/envs/rapids2/lib/python3.10/site-packages (3.4.4)
Requirement already satisfied: py4j==0.10.9.7 in /home/cvmi_jeyoung/anaconda3/envs/rapids2/lib/python3.10/site-packages (from pyspark==3.4.4) (0.10.9.7)
Looking in indexes: https://pypi.org/simple, https://pypi.ngc.nvidia.com
Requirement already satisfied: findspark in /home/cvmi_jeyoung/anaconda3/envs/rapids2/lib/python3.10/site-packages (2.0.1)

```cmd
conda install -c conda-forge pyspark -y
```

## Install PySpark-Rapids
---

See the [link](https://nvidia.github.io/spark-rapids/docs/download.html).

You can select PySpark accelerator using RAPIDS

There are two version of Pyspark

- x86_64 : [Download](https://repo1.maven.org/maven2/com/nvidia/rapids-4-spark_2.12/24.12.0/rapids-4-spark_2.12-24.12.0.jar)
- arm64  : [Download](https://repo1.maven.org/maven2/com/nvidia/rapids-4-spark_2.12/24.12.0/rapids-4-spark_2.12-24.12.0-cuda11-arm64.jar)

Now we use x86_64 of 24.12.0 version.

and we download file on ./pyspark, you can simply set accelerated pyspark

```cmd
export SPARK_JARS=rapids-4-spark_2.12-24.12.0.jar
export PYSPARK_DRIVER_PYTHON=jupyter 
export PYSPARK_DRIVER_PYTHON_OPTS=notebook
```

## Set Pyspark RAPIDS Enviroments

In [4]:
os.environ["SPARK_JARS"] = '/media/HDD/JeYoung/Fundamentals_of_GPU_DataScience_with_RAPIDS/Chapter07/pyspark/rapids-4-spark_2.12-24.12.0.jar'
os.environ["PYSPARK_PYTHON"] = "python3"
os.environ["PYSPARK_DRIVER_PYTHON"] = "jupyter"
os.environ["PYSPARK_DRIVER_PYTHON_OPTS"] = "notebook"
# If you use port 127.0.0.1(basic port), you don't need to set below codes
os.environ["CUDA_VISIBLE_DEVICES"] = "0" 
os.environ["SPARK_LOCAL_IP"] = "192.168.0.69"

In [8]:
!echo $SPARK_JARS

/media/HDD/JeYoung/Fundamentals_of_GPU_DataScience_with_RAPIDS/Chapter07/pyspark/rapids-4-spark_2.12-24.12.0.jar

```cmd
export PYSPARK_SUBMIT_ARGS='--jars /media/HDD/JeYoung/Fundamentals_of_GPU_DataScience_with_RAPIDS/Chapter07/pyspark/rapids-4-spark_2.12-24.12.0.jar\
 --conf spark.plugins=com.nvidia.spark.SQLPlugin\
 --conf spark.rapids.sql.enabled=true\
 --conf spark.executor.resource.gpu.amount=1\
 --conf spark.task.resource.gpu.amount=1\
 --conf spark.rapids.sql.explain=ALL\
 --conf spark.rapids.memory.gpu.allocFraction=0.6\
 --conf spark.rapids.memory.gpu.maxAllocFraction=0.9\
 --conf spark.sql.execution.arrow.pyspark.enabled=true\
 --conf spark.executorEnv.NVIDIA_VISIBLE_DEVICES=0\
 --conf spark.executor.extraJavaOptions=-Dorg.bytedeco.javacpp.maxphysicalbytes=0\
 pyspark-shell'    
```

In [5]:
os.environ["PYSPARK_SUBMIT_ARGS"] = (
    f'--jars {os.environ.get("SPARK_JARS")} '
    "--conf spark.plugins=com.nvidia.spark.SQLPlugin "
    "--conf spark.rapids.sql.enabled=true "
    "--conf spark.rapids.sql.explain=NONE "  # GPU 실행 로그를 출력하지 않도록 설정
    "pyspark-shell"    
)

In [6]:
os.environ.get("PYSPARK_SUBMIT_ARGS")

'--jars /media/HDD/JeYoung/Fundamentals_of_GPU_DataScience_with_RAPIDS/Chapter07/pyspark/rapids-4-spark_2.12-24.12.0.jar --conf spark.plugins=com.nvidia.spark.SQLPlugin --conf spark.rapids.sql.enabled=true --conf spark.rapids.sql.explain=NONE pyspark-shell'

## Start jupyter notebook with plugin config

```cmd
pyspark --master ${SPARK_MASTER}            \
--jars ${SPARK_JARS}                \
--conf spark.plugins=com.nvidia.spark.SQLPlugin \
--conf spark.rapids.sql.incompatibleDateFormats.enabled=true \
--conf spark.rapids.sql.csv.read.double.enabled=true \
--py-files ${SPARK_PY_FILES}
```

In [11]:
import cudf as cd
train_url = "../data/titanic/train.csv"
test_url  = "../data/titanic/test.csv"
features = ["Pclass", "Sex", "SibSp", "Parch", "Age", "Embarked_l", "Fare"]


train = cd.read_csv(train_url)
test  = cd.read_csv(test_url)

In [12]:
train.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [13]:
train.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [7]:
import time
import os
import cupy as cp
import pyspark
from pyspark import broadcast
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *
from pyspark.sql.window import Window

import findspark
findspark.init()

# Check Spark Version
print(pyspark.__version__)

3.4.4

In [8]:
spark = (SparkSession.builder
         .appName("Test GPU")
        .getOrCreate())

print("spark.plugins:", spark.conf.get("spark.plugins"))
print("spark.rapids.sql.enabled:", spark.conf.get("spark.rapids.sql.enabled"))
spark

25/03/18 17:49:45 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/03/18 17:49:46 WARN RapidsPluginUtils: RAPIDS Accelerator 24.12.0 using cudf 24.12.0, private revision 874fe2a69931879dc50faad111280e8ca75467cc
25/03/18 17:49:46 WARN RapidsPluginUtils: RAPIDS Accelerator is enabled, to disable GPU support set `spark.rapids.sql.enabled` to false.

spark.plugins: com.nvidia.spark.SQLPlugin
spark.rapids.sql.enabled: true

In [16]:
print("spark.plugins:", spark.conf.get("spark.plugins"))
print("spark.rapids.sql.enabled:", spark.conf.get("spark.rapids.sql.enabled"))

spark.plugins: com.nvidia.spark.SQLPlugin
spark.rapids.sql.enabled: true

In [17]:
df = spark.range(100).toDF("num")
df.cache()  # ✅ Spark에 데이터 캐싱 → Task 실행 유도
df.selectExpr("num * 2 as double_num").show()

+----------+
|double_num|
+----------+
|         0|
|         2|
|         4|
|         6|
|         8|
|        10|
|        12|
|        14|
|        16|
|        18|
|        20|
|        22|
|        24|
|        26|
|        28|
|        30|
|        32|
|        34|
|        36|
|        38|
+----------+
only showing top 20 rows

In [18]:
!nvidia-smi

Wed Mar  5 21:31:44 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.90.07              Driver Version: 550.90.07      CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  NVIDIA GeForce RTX 2080 ...    Off |   00000000:05:00.0 Off |                  N/A |
|  0%   51C    P2             53W /  250W |    7342MiB /   8192MiB |      0%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+
|   1  NVIDIA GeForce RTX 2080 ...    Off |   00000000:06:00.0  On |                  N/A |
|  0%   52C    P8             29W /  250W |    1132MiB /   8192MiB |     45%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|    0   N/A  N/A      1681      G   /usr/lib/xorg/Xorg                              4MiB |
|    0   N/A  N/A      2200      G   /usr/lib/xorg/Xorg                              4MiB |
|    0   N/A  N/A   3899101      C   ...g/anaconda3/envs/rapids2/bin/python        124MiB |
|    0   N/A  N/A   3900517      C   .../jvm/java-11-openjdk-amd64/bin/java       7204MiB |
|    1   N/A  N/A      1681      G   /usr/lib/xorg/Xorg                             59MiB |
|    1   N/A  N/A      2200      G   /usr/lib/xorg/Xorg                            682MiB |
|    1   N/A  N/A      2330      G   /usr/bin/gnome-shell                          128MiB |
|    1   N/A  N/A      3973      G   ...71,262144 --variations-seed-version        200MiB |
|    1   N/A  N/A     15901      G   ...erProcess --variations-seed-version         45MiB |
+-----------------------------------------------------------------------------------------+

In [19]:
#init spark
spark.sparkContext.cancelAllJobs()
spark.stop()

In [20]:
!nvidia-smi

Wed Mar  5 21:31:46 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.90.07              Driver Version: 550.90.07      CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  NVIDIA GeForce RTX 2080 ...    Off |   00000000:05:00.0 Off |                  N/A |
|  0%   52C    P2             62W /  250W |     260MiB /   8192MiB |      0%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+
|   1  NVIDIA GeForce RTX 2080 ...    Off |   00000000:06:00.0  On |                  N/A |
|  0%   53C    P3             42W /  250W |    1144MiB /   8192MiB |     31%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|    0   N/A  N/A      1681      G   /usr/lib/xorg/Xorg                              4MiB |
|    0   N/A  N/A      2200      G   /usr/lib/xorg/Xorg                              4MiB |
|    0   N/A  N/A   3899101      C   ...g/anaconda3/envs/rapids2/bin/python        124MiB |
|    0   N/A  N/A   3900517      C   .../jvm/java-11-openjdk-amd64/bin/java        122MiB |
|    1   N/A  N/A      1681      G   /usr/lib/xorg/Xorg                             59MiB |
|    1   N/A  N/A      2200      G   /usr/lib/xorg/Xorg                            682MiB |
|    1   N/A  N/A      2330      G   /usr/bin/gnome-shell                          128MiB |
|    1   N/A  N/A      3973      G   ...71,262144 --variations-seed-version        208MiB |
|    1   N/A  N/A     15901      G   ...erProcess --variations-seed-version         45MiB |
+-----------------------------------------------------------------------------------------+

## Create Spark Session

In [21]:
spark = (SparkSession
    .builder
    .appName("TitanicETL")
    .getOrCreate())

# spark.sparkContext.setLogLevel("INFO")  # 로그 레벨을 INFO로 변경

25/03/05 21:31:46 WARN RapidsPluginUtils: RAPIDS Accelerator is enabled, to disable GPU support set `spark.rapids.sql.enabled` to false.
25/03/05 21:31:48 WARN GpuDeviceManager: The default cuDF host pool was already configured

In [22]:
print("spark.plugins:", spark.conf.get("spark.plugins"))
print("spark.rapids.sql.enabled:", spark.conf.get("spark.rapids.sql.enabled"))

spark.plugins: com.nvidia.spark.SQLPlugin
spark.rapids.sql.enabled: true

In [23]:
spark.sparkContext.uiWebUrl  # Spark UI 주소 확인

'http://192.168.0.69:4040'

In [24]:
_csv_raw_schema = StructType([
    StructField('PassengerId', IntegerType()),
    StructField("Survival", IntegerType()),
    StructField("Pclass", IntegerType()),
    StructField('Name', StringType()),
    StructField("Sex", StringType()),
    StructField("Age", DoubleType()),
    StructField("SibSp", IntegerType()),
    StructField("Parch", IntegerType()),
    StructField("Ticket ", StringType()),
    StructField("Fare", DoubleType()),
    StructField("Cabin", StringType()),
    StructField("Embarked", StringType()),])

In [25]:
cate_col_names = [
        "Name",
        "Sex",
        "Ticket",
        "Cabin",
        "Embarked",
]

label_col_name = "Survival"
numeric_col_names = [
        "PassengerId",
        "Pclass",
        "Age",
        "SibSp",
        "Parch",
        "Fare",
        label_col_name
]

all_col_names = cate_col_names + numeric_col_names

In [26]:
def extract_perf_columns(rawDf):
    perfDf = rawDf.select(
        col('Pclass'),
        col('Sex'),
        col('SibSp'),
        col('Parch'),
        col('Age'),
        col('Embarked_l'),
        col('Fare'),
        col('Survival'),
    )

    return perfDf.select("*")

def read_raw_csv(spark, path):
    return spark.read.format('csv') \
            .option('nullValue', cp.nan) \
            .option('delimiter', ',') \
            .schema(_csv_raw_schema) \
            .load(path)

In [27]:
df = read_raw_csv(spark, '../data/titanic/train.csv')

In [28]:
df.collect()

[Row(PassengerId=None, Survival=None, Pclass=None, Name='Name', Sex='Sex', Age=None, SibSp=None, Parch=None, Ticket ='Ticket', Fare=None, Cabin='Cabin', Embarked='Embarked'),
 Row(PassengerId=1, Survival=0, Pclass=3, Name='Braund, Mr. Owen Harris', Sex='male', Age=22.0, SibSp=1, Parch=0, Ticket ='A/5 21171', Fare=7.25, Cabin='', Embarked='S'),
 Row(PassengerId=2, Survival=1, Pclass=1, Name='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', Sex='female', Age=38.0, SibSp=1, Parch=0, Ticket ='PC 17599', Fare=71.2833, Cabin='C85', Embarked='C'),
 Row(PassengerId=3, Survival=1, Pclass=3, Name='Heikkinen, Miss. Laina', Sex='female', Age=26.0, SibSp=0, Parch=0, Ticket ='STON/O2. 3101282', Fare=7.925, Cabin='', Embarked='S'),
 Row(PassengerId=4, Survival=1, Pclass=1, Name='Futrelle, Mrs. Jacques Heath (Lily May Peel)', Sex='female', Age=35.0, SibSp=1, Parch=0, Ticket ='113803', Fare=53.1, Cabin='C123', Embarked='S'),
 Row(PassengerId=5, Survival=0, Pclass=3, Name='Allen, Mr. William Henry', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket ='373450', Fare=8.05, Cabin='', Embarked='S'),
 Row(PassengerId=6, Survival=0, Pclass=3, Name='Moran, Mr. James', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='330877', Fare=8.4583, Cabin='', Embarked='Q'),
 Row(PassengerId=7, Survival=0, Pclass=1, Name='McCarthy, Mr. Timothy J', Sex='male', Age=54.0, SibSp=0, Parch=0, Ticket ='17463', Fare=51.8625, Cabin='E46', Embarked='S'),
 Row(PassengerId=8, Survival=0, Pclass=3, Name='Palsson, Master. Gosta Leonard', Sex='male', Age=2.0, SibSp=3, Parch=1, Ticket ='349909', Fare=21.075, Cabin='', Embarked='S'),
 Row(PassengerId=9, Survival=1, Pclass=3, Name='Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', Sex='female', Age=27.0, SibSp=0, Parch=2, Ticket ='347742', Fare=11.1333, Cabin='', Embarked='S'),
 Row(PassengerId=10, Survival=1, Pclass=2, Name='Nasser, Mrs. Nicholas (Adele Achem)', Sex='female', Age=14.0, SibSp=1, Parch=0, Ticket ='237736', Fare=30.0708, Cabin='', Embarked='C'),
 Row(PassengerId=11, Survival=1, Pclass=3, Name='Sandstrom, Miss. Marguerite Rut', Sex='female', Age=4.0, SibSp=1, Parch=1, Ticket ='PP 9549', Fare=16.7, Cabin='G6', Embarked='S'),
 Row(PassengerId=12, Survival=1, Pclass=1, Name='Bonnell, Miss. Elizabeth', Sex='female', Age=58.0, SibSp=0, Parch=0, Ticket ='113783', Fare=26.55, Cabin='C103', Embarked='S'),
 Row(PassengerId=13, Survival=0, Pclass=3, Name='Saundercock, Mr. William Henry', Sex='male', Age=20.0, SibSp=0, Parch=0, Ticket ='A/5. 2151', Fare=8.05, Cabin='', Embarked='S'),
 Row(PassengerId=14, Survival=0, Pclass=3, Name='Andersson, Mr. Anders Johan', Sex='male', Age=39.0, SibSp=1, Parch=5, Ticket ='347082', Fare=31.275, Cabin='', Embarked='S'),
 Row(PassengerId=15, Survival=0, Pclass=3, Name='Vestrom, Miss. Hulda Amanda Adolfina', Sex='female', Age=14.0, SibSp=0, Parch=0, Ticket ='350406', Fare=7.8542, Cabin='', Embarked='S'),
 Row(PassengerId=16, Survival=1, Pclass=2, Name='Hewlett, Mrs. (Mary D Kingcome) ', Sex='female', Age=55.0, SibSp=0, Parch=0, Ticket ='248706', Fare=16.0, Cabin='', Embarked='S'),
 Row(PassengerId=17, Survival=0, Pclass=3, Name='Rice, Master. Eugene', Sex='male', Age=2.0, SibSp=4, Parch=1, Ticket ='382652', Fare=29.125, Cabin='', Embarked='Q'),
 Row(PassengerId=18, Survival=1, Pclass=2, Name='Williams, Mr. Charles Eugene', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='244373', Fare=13.0, Cabin='', Embarked='S'),
 Row(PassengerId=19, Survival=0, Pclass=3, Name='Vander Planke, Mrs. Julius (Emelia Maria Vandemoortele)', Sex='female', Age=31.0, SibSp=1, Parch=0, Ticket ='345763', Fare=18.0, Cabin='', Embarked='S'),
 Row(PassengerId=20, Survival=1, Pclass=3, Name='Masselmani, Mrs. Fatima', Sex='female', Age=None, SibSp=0, Parch=0, Ticket ='2649', Fare=7.225, Cabin='', Embarked='C'),
 Row(PassengerId=21, Survival=0, Pclass=2, Name='Fynney, Mr. Joseph J', Sex='male', Age=35.0, SibSp=0, Parch=0, Ticket ='239865', Fare=26.0, Cabin='', Embarked='S'),
 Row(PassengerId=22, Survival=1, Pclass=2, Name='Beesley, Mr. Lawrence', Sex='male', Age=34.0, SibSp=0, Parch=0, Ticket ='248698', Fare=13.0, Cabin='D56', Embarked='S'),
 Row(PassengerId=23, Survival=1, Pclass=3, Name='McGowan, Miss. Anna "Annie"', Sex='female', Age=15.0, SibSp=0, Parch=0, Ticket ='330923', Fare=8.0292, Cabin='', Embarked='Q'),
 Row(PassengerId=24, Survival=1, Pclass=1, Name='Sloper, Mr. William Thompson', Sex='male', Age=28.0, SibSp=0, Parch=0, Ticket ='113788', Fare=35.5, Cabin='A6', Embarked='S'),
 Row(PassengerId=25, Survival=0, Pclass=3, Name='Palsson, Miss. Torborg Danira', Sex='female', Age=8.0, SibSp=3, Parch=1, Ticket ='349909', Fare=21.075, Cabin='', Embarked='S'),
 Row(PassengerId=26, Survival=1, Pclass=3, Name='Asplund, Mrs. Carl Oscar (Selma Augusta Emilia Johansson)', Sex='female', Age=38.0, SibSp=1, Parch=5, Ticket ='347077', Fare=31.3875, Cabin='', Embarked='S'),
 Row(PassengerId=27, Survival=0, Pclass=3, Name='Emir, Mr. Farred Chehab', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='2631', Fare=7.225, Cabin='', Embarked='C'),
 Row(PassengerId=28, Survival=0, Pclass=1, Name='Fortune, Mr. Charles Alexander', Sex='male', Age=19.0, SibSp=3, Parch=2, Ticket ='19950', Fare=263.0, Cabin='C23 C25 C27', Embarked='S'),
 Row(PassengerId=29, Survival=1, Pclass=3, Name='O\'Dwyer, Miss. Ellen "Nellie"', Sex='female', Age=None, SibSp=0, Parch=0, Ticket ='330959', Fare=7.8792, Cabin='', Embarked='Q'),
 Row(PassengerId=30, Survival=0, Pclass=3, Name='Todoroff, Mr. Lalio', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='349216', Fare=7.8958, Cabin='', Embarked='S'),
 Row(PassengerId=31, Survival=0, Pclass=1, Name='Uruchurtu, Don. Manuel E', Sex='male', Age=40.0, SibSp=0, Parch=0, Ticket ='PC 17601', Fare=27.7208, Cabin='', Embarked='C'),
 Row(PassengerId=32, Survival=1, Pclass=1, Name='Spencer, Mrs. William Augustus (Marie Eugenie)', Sex='female', Age=None, SibSp=1, Parch=0, Ticket ='PC 17569', Fare=146.5208, Cabin='B78', Embarked='C'),
 Row(PassengerId=33, Survival=1, Pclass=3, Name='Glynn, Miss. Mary Agatha', Sex='female', Age=None, SibSp=0, Parch=0, Ticket ='335677', Fare=7.75, Cabin='', Embarked='Q'),
 Row(PassengerId=34, Survival=0, Pclass=2, Name='Wheadon, Mr. Edward H', Sex='male', Age=66.0, SibSp=0, Parch=0, Ticket ='C.A. 24579', Fare=10.5, Cabin='', Embarked='S'),
 Row(PassengerId=35, Survival=0, Pclass=1, Name='Meyer, Mr. Edgar Joseph', Sex='male', Age=28.0, SibSp=1, Parch=0, Ticket ='PC 17604', Fare=82.1708, Cabin='', Embarked='C'),
 Row(PassengerId=36, Survival=0, Pclass=1, Name='Holverson, Mr. Alexander Oskar', Sex='male', Age=42.0, SibSp=1, Parch=0, Ticket ='113789', Fare=52.0, Cabin='', Embarked='S'),
 Row(PassengerId=37, Survival=1, Pclass=3, Name='Mamee, Mr. Hanna', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='2677', Fare=7.2292, Cabin='', Embarked='C'),
 Row(PassengerId=38, Survival=0, Pclass=3, Name='Cann, Mr. Ernest Charles', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket ='A./5. 2152', Fare=8.05, Cabin='', Embarked='S'),
 Row(PassengerId=39, Survival=0, Pclass=3, Name='Vander Planke, Miss. Augusta Maria', Sex='female', Age=18.0, SibSp=2, Parch=0, Ticket ='345764', Fare=18.0, Cabin='', Embarked='S'),
 Row(PassengerId=40, Survival=1, Pclass=3, Name='Nicola-Yarred, Miss. Jamila', Sex='female', Age=14.0, SibSp=1, Parch=0, Ticket ='2651', Fare=11.2417, Cabin='', Embarked='C'),
 Row(PassengerId=41, Survival=0, Pclass=3, Name='Ahlin, Mrs. Johan (Johanna Persdotter Larsson)', Sex='female', Age=40.0, SibSp=1, Parch=0, Ticket ='7546', Fare=9.475, Cabin='', Embarked='S'),
 Row(PassengerId=42, Survival=0, Pclass=2, Name='Turpin, Mrs. William John Robert (Dorothy Ann Wonnacott)', Sex='female', Age=27.0, SibSp=1, Parch=0, Ticket ='11668', Fare=21.0, Cabin='', Embarked='S'),
 Row(PassengerId=43, Survival=0, Pclass=3, Name='Kraeff, Mr. Theodor', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='349253', Fare=7.8958, Cabin='', Embarked='C'),
 Row(PassengerId=44, Survival=1, Pclass=2, Name='Laroche, Miss. Simonne Marie Anne Andree', Sex='female', Age=3.0, SibSp=1, Parch=2, Ticket ='SC/Paris 2123', Fare=41.5792, Cabin='', Embarked='C'),
 Row(PassengerId=45, Survival=1, Pclass=3, Name='Devaney, Miss. Margaret Delia', Sex='female', Age=19.0, SibSp=0, Parch=0, Ticket ='330958', Fare=7.8792, Cabin='', Embarked='Q'),
 Row(PassengerId=46, Survival=0, Pclass=3, Name='Rogers, Mr. William John', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='S.C./A.4. 23567', Fare=8.05, Cabin='', Embarked='S'),
 Row(PassengerId=47, Survival=0, Pclass=3, Name='Lennon, Mr. Denis', Sex='male', Age=None, SibSp=1, Parch=0, Ticket ='370371', Fare=15.5, Cabin='', Embarked='Q'),
 Row(PassengerId=48, Survival=1, Pclass=3, Name="O'Driscoll, Miss. Bridget", Sex='female', Age=None, SibSp=0, Parch=0, Ticket ='14311', Fare=7.75, Cabin='', Embarked='Q'),
 Row(PassengerId=49, Survival=0, Pclass=3, Name='Samaan, Mr. Youssef', Sex='male', Age=None, SibSp=2, Parch=0, Ticket ='2662', Fare=21.6792, Cabin='', Embarked='C'),
 Row(PassengerId=50, Survival=0, Pclass=3, Name='Arnold-Franchi, Mrs. Josef (Josefine Franchi)', Sex='female', Age=18.0, SibSp=1, Parch=0, Ticket ='349237', Fare=17.8, Cabin='', Embarked='S'),
 Row(PassengerId=51, Survival=0, Pclass=3, Name='Panula, Master. Juha Niilo', Sex='male', Age=7.0, SibSp=4, Parch=1, Ticket ='3101295', Fare=39.6875, Cabin='', Embarked='S'),
 Row(PassengerId=52, Survival=0, Pclass=3, Name='Nosworthy, Mr. Richard Cater', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket ='A/4. 39886', Fare=7.8, Cabin='', Embarked='S'),
 Row(PassengerId=53, Survival=1, Pclass=1, Name='Harper, Mrs. Henry Sleeper (Myna Haxtun)', Sex='female', Age=49.0, SibSp=1, Parch=0, Ticket ='PC 17572', Fare=76.7292, Cabin='D33', Embarked='C'),
 Row(PassengerId=54, Survival=1, Pclass=2, Name='Faunthorpe, Mrs. Lizzie (Elizabeth Anne Wilkinson)', Sex='female', Age=29.0, SibSp=1, Parch=0, Ticket ='2926', Fare=26.0, Cabin='', Embarked='S'),
 Row(PassengerId=55, Survival=0, Pclass=1, Name='Ostby, Mr. Engelhart Cornelius', Sex='male', Age=65.0, SibSp=0, Parch=1, Ticket ='113509', Fare=61.9792, Cabin='B30', Embarked='C'),
 Row(PassengerId=56, Survival=1, Pclass=1, Name='Woolner, Mr. Hugh', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='19947', Fare=35.5, Cabin='C52', Embarked='S'),
 Row(PassengerId=57, Survival=1, Pclass=2, Name='Rugg, Miss. Emily', Sex='female', Age=21.0, SibSp=0, Parch=0, Ticket ='C.A. 31026', Fare=10.5, Cabin='', Embarked='S'),
 Row(PassengerId=58, Survival=0, Pclass=3, Name='Novel, Mr. Mansouer', Sex='male', Age=28.5, SibSp=0, Parch=0, Ticket ='2697', Fare=7.2292, Cabin='', Embarked='C'),
 Row(PassengerId=59, Survival=1, Pclass=2, Name='West, Miss. Constance Mirium', Sex='female', Age=5.0, SibSp=1, Parch=2, Ticket ='C.A. 34651', Fare=27.75, Cabin='', Embarked='S'),
 Row(PassengerId=60, Survival=0, Pclass=3, Name='Goodwin, Master. William Frederick', Sex='male', Age=11.0, SibSp=5, Parch=2, Ticket ='CA 2144', Fare=46.9, Cabin='', Embarked='S'),
 Row(PassengerId=61, Survival=0, Pclass=3, Name='Sirayanian, Mr. Orsen', Sex='male', Age=22.0, SibSp=0, Parch=0, Ticket ='2669', Fare=7.2292, Cabin='', Embarked='C'),
 Row(PassengerId=62, Survival=1, Pclass=1, Name='Icard, Miss. Amelie', Sex='female', Age=38.0, SibSp=0, Parch=0, Ticket ='113572', Fare=80.0, Cabin='B28', Embarked=''),
 Row(PassengerId=63, Survival=0, Pclass=1, Name='Harris, Mr. Henry Birkhardt', Sex='male', Age=45.0, SibSp=1, Parch=0, Ticket ='36973', Fare=83.475, Cabin='C83', Embarked='S'),
 Row(PassengerId=64, Survival=0, Pclass=3, Name='Skoog, Master. Harald', Sex='male', Age=4.0, SibSp=3, Parch=2, Ticket ='347088', Fare=27.9, Cabin='', Embarked='S'),
 Row(PassengerId=65, Survival=0, Pclass=1, Name='Stewart, Mr. Albert A', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='PC 17605', Fare=27.7208, Cabin='', Embarked='C'),
 Row(PassengerId=66, Survival=1, Pclass=3, Name='Moubarek, Master. Gerios', Sex='male', Age=None, SibSp=1, Parch=1, Ticket ='2661', Fare=15.2458, Cabin='', Embarked='C'),
 Row(PassengerId=67, Survival=1, Pclass=2, Name='Nye, Mrs. (Elizabeth Ramell)', Sex='female', Age=29.0, SibSp=0, Parch=0, Ticket ='C.A. 29395', Fare=10.5, Cabin='F33', Embarked='S'),
 Row(PassengerId=68, Survival=0, Pclass=3, Name='Crease, Mr. Ernest James', Sex='male', Age=19.0, SibSp=0, Parch=0, Ticket ='S.P. 3464', Fare=8.1583, Cabin='', Embarked='S'),
 Row(PassengerId=69, Survival=1, Pclass=3, Name='Andersson, Miss. Erna Alexandra', Sex='female', Age=17.0, SibSp=4, Parch=2, Ticket ='3101281', Fare=7.925, Cabin='', Embarked='S'),
 Row(PassengerId=70, Survival=0, Pclass=3, Name='Kink, Mr. Vincenz', Sex='male', Age=26.0, SibSp=2, Parch=0, Ticket ='315151', Fare=8.6625, Cabin='', Embarked='S'),
 Row(PassengerId=71, Survival=0, Pclass=2, Name='Jenkin, Mr. Stephen Curnow', Sex='male', Age=32.0, SibSp=0, Parch=0, Ticket ='C.A. 33111', Fare=10.5, Cabin='', Embarked='S'),
 Row(PassengerId=72, Survival=0, Pclass=3, Name='Goodwin, Miss. Lillian Amy', Sex='female', Age=16.0, SibSp=5, Parch=2, Ticket ='CA 2144', Fare=46.9, Cabin='', Embarked='S'),
 Row(PassengerId=73, Survival=0, Pclass=2, Name='Hood, Mr. Ambrose Jr', Sex='male', Age=21.0, SibSp=0, Parch=0, Ticket ='S.O.C. 14879', Fare=73.5, Cabin='', Embarked='S'),
 Row(PassengerId=74, Survival=0, Pclass=3, Name='Chronopoulos, Mr. Apostolos', Sex='male', Age=26.0, SibSp=1, Parch=0, Ticket ='2680', Fare=14.4542, Cabin='', Embarked='C'),
 Row(PassengerId=75, Survival=1, Pclass=3, Name='Bing, Mr. Lee', Sex='male', Age=32.0, SibSp=0, Parch=0, Ticket ='1601', Fare=56.4958, Cabin='', Embarked='S'),
 Row(PassengerId=76, Survival=0, Pclass=3, Name='Moen, Mr. Sigurd Hansen', Sex='male', Age=25.0, SibSp=0, Parch=0, Ticket ='348123', Fare=7.65, Cabin='F G73', Embarked='S'),
 Row(PassengerId=77, Survival=0, Pclass=3, Name='Staneff, Mr. Ivan', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='349208', Fare=7.8958, Cabin='', Embarked='S'),
 Row(PassengerId=78, Survival=0, Pclass=3, Name='Moutal, Mr. Rahamin Haim', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='374746', Fare=8.05, Cabin='', Embarked='S'),
 Row(PassengerId=79, Survival=1, Pclass=2, Name='Caldwell, Master. Alden Gates', Sex='male', Age=0.83, SibSp=0, Parch=2, Ticket ='248738', Fare=29.0, Cabin='', Embarked='S'),
 Row(PassengerId=80, Survival=1, Pclass=3, Name='Dowdell, Miss. Elizabeth', Sex='female', Age=30.0, SibSp=0, Parch=0, Ticket ='364516', Fare=12.475, Cabin='', Embarked='S'),
 Row(PassengerId=81, Survival=0, Pclass=3, Name='Waelens, Mr. Achille', Sex='male', Age=22.0, SibSp=0, Parch=0, Ticket ='345767', Fare=9.0, Cabin='', Embarked='S'),
 Row(PassengerId=82, Survival=1, Pclass=3, Name='Sheerlinck, Mr. Jan Baptist', Sex='male', Age=29.0, SibSp=0, Parch=0, Ticket ='345779', Fare=9.5, Cabin='', Embarked='S'),
 Row(PassengerId=83, Survival=1, Pclass=3, Name='McDermott, Miss. Brigdet Delia', Sex='female', Age=None, SibSp=0, Parch=0, Ticket ='330932', Fare=7.7875, Cabin='', Embarked='Q'),
 Row(PassengerId=84, Survival=0, Pclass=1, Name='Carrau, Mr. Francisco M', Sex='male', Age=28.0, SibSp=0, Parch=0, Ticket ='113059', Fare=47.1, Cabin='', Embarked='S'),
 Row(PassengerId=85, Survival=1, Pclass=2, Name='Ilett, Miss. Bertha', Sex='female', Age=17.0, SibSp=0, Parch=0, Ticket ='SO/C 14885', Fare=10.5, Cabin='', Embarked='S'),
 Row(PassengerId=86, Survival=1, Pclass=3, Name='Backstrom, Mrs. Karl Alfred (Maria Mathilda Gustafsson)', Sex='female', Age=33.0, SibSp=3, Parch=0, Ticket ='3101278', Fare=15.85, Cabin='', Embarked='S'),
 Row(PassengerId=87, Survival=0, Pclass=3, Name='Ford, Mr. William Neal', Sex='male', Age=16.0, SibSp=1, Parch=3, Ticket ='W./C. 6608', Fare=34.375, Cabin='', Embarked='S'),
 Row(PassengerId=88, Survival=0, Pclass=3, Name='Slocovski, Mr. Selman Francis', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='SOTON/OQ 392086', Fare=8.05, Cabin='', Embarked='S'),
 Row(PassengerId=89, Survival=1, Pclass=1, Name='Fortune, Miss. Mabel Helen', Sex='female', Age=23.0, SibSp=3, Parch=2, Ticket ='19950', Fare=263.0, Cabin='C23 C25 C27', Embarked='S'),
 Row(PassengerId=90, Survival=0, Pclass=3, Name='Celotti, Mr. Francesco', Sex='male', Age=24.0, SibSp=0, Parch=0, Ticket ='343275', Fare=8.05, Cabin='', Embarked='S'),
 Row(PassengerId=91, Survival=0, Pclass=3, Name='Christmann, Mr. Emil', Sex='male', Age=29.0, SibSp=0, Parch=0, Ticket ='343276', Fare=8.05, Cabin='', Embarked='S'),
 Row(PassengerId=92, Survival=0, Pclass=3, Name='Andreasson, Mr. Paul Edvin', Sex='male', Age=20.0, SibSp=0, Parch=0, Ticket ='347466', Fare=7.8542, Cabin='', Embarked='S'),
 Row(PassengerId=93, Survival=0, Pclass=1, Name='Chaffee, Mr. Herbert Fuller', Sex='male', Age=46.0, SibSp=1, Parch=0, Ticket ='W.E.P. 5734', Fare=61.175, Cabin='E31', Embarked='S'),
 Row(PassengerId=94, Survival=0, Pclass=3, Name='Dean, Mr. Bertram Frank', Sex='male', Age=26.0, SibSp=1, Parch=2, Ticket ='C.A. 2315', Fare=20.575, Cabin='', Embarked='S'),
 Row(PassengerId=95, Survival=0, Pclass=3, Name='Coxon, Mr. Daniel', Sex='male', Age=59.0, SibSp=0, Parch=0, Ticket ='364500', Fare=7.25, Cabin='', Embarked='S'),
 Row(PassengerId=96, Survival=0, Pclass=3, Name='Shorney, Mr. Charles Joseph', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='374910', Fare=8.05, Cabin='', Embarked='S'),
 Row(PassengerId=97, Survival=0, Pclass=1, Name='Goldschmidt, Mr. George B', Sex='male', Age=71.0, SibSp=0, Parch=0, Ticket ='PC 17754', Fare=34.6542, Cabin='A5', Embarked='C'),
 Row(PassengerId=98, Survival=1, Pclass=1, Name='Greenfield, Mr. William Bertram', Sex='male', Age=23.0, SibSp=0, Parch=1, Ticket ='PC 17759', Fare=63.3583, Cabin='D10 D12', Embarked='C'),
 Row(PassengerId=99, Survival=1, Pclass=2, Name='Doling, Mrs. John T (Ada Julia Bone)', Sex='female', Age=34.0, SibSp=0, Parch=1, Ticket ='231919', Fare=23.0, Cabin='', Embarked='S'),
 Row(PassengerId=100, Survival=0, Pclass=2, Name='Kantor, Mr. Sinai', Sex='male', Age=34.0, SibSp=1, Parch=0, Ticket ='244367', Fare=26.0, Cabin='', Embarked='S'),
 Row(PassengerId=101, Survival=0, Pclass=3, Name='Petranec, Miss. Matilda', Sex='female', Age=28.0, SibSp=0, Parch=0, Ticket ='349245', Fare=7.8958, Cabin='', Embarked='S'),
 Row(PassengerId=102, Survival=0, Pclass=3, Name='Petroff, Mr. Pastcho ("Pentcho")', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='349215', Fare=7.8958, Cabin='', Embarked='S'),
 Row(PassengerId=103, Survival=0, Pclass=1, Name='White, Mr. Richard Frasar', Sex='male', Age=21.0, SibSp=0, Parch=1, Ticket ='35281', Fare=77.2875, Cabin='D26', Embarked='S'),
 Row(PassengerId=104, Survival=0, Pclass=3, Name='Johansson, Mr. Gustaf Joel', Sex='male', Age=33.0, SibSp=0, Parch=0, Ticket ='7540', Fare=8.6542, Cabin='', Embarked='S'),
 Row(PassengerId=105, Survival=0, Pclass=3, Name='Gustafsson, Mr. Anders Vilhelm', Sex='male', Age=37.0, SibSp=2, Parch=0, Ticket ='3101276', Fare=7.925, Cabin='', Embarked='S'),
 Row(PassengerId=106, Survival=0, Pclass=3, Name='Mionoff, Mr. Stoytcho', Sex='male', Age=28.0, SibSp=0, Parch=0, Ticket ='349207', Fare=7.8958, Cabin='', Embarked='S'),
 Row(PassengerId=107, Survival=1, Pclass=3, Name='Salkjelsvik, Miss. Anna Kristine', Sex='female', Age=21.0, SibSp=0, Parch=0, Ticket ='343120', Fare=7.65, Cabin='', Embarked='S'),
 Row(PassengerId=108, Survival=1, Pclass=3, Name='Moss, Mr. Albert Johan', Sex='male', Age=None, SibSp=0, Parch=0, Ticket ='312991', Fare=7.775, Cabin='', Embarked='S'),
 Row(PassengerId=109, Survival=0, Pclass=3, Name='Rekic, Mr. Tido', Sex='male', Age=38.0, SibSp=0, Parch=0, Ticket ='349249', Fare=7.8958, Cabin='', Embarked='S'),
 Row(PassengerId=110, Survival=1, Pclass=3, Name='Moran, Miss. Bertha', Sex='female', Age=None, SibSp=1, Parch=0, Ticket ='371110', Fare=24.15, Cabin='', Embarked='Q'),
 Row(PassengerId=111, Survival=0, Pclass=1, Name='Porter, Mr. Walter Chamberlain', Sex='male', Age=47.0, SibSp=0, Parch=0, Ticket ='110465', Fare=52.0, Cabin='C110', Embarked='S'),
 Row(PassengerId=112, Survival=0, Pclass=3, Name='Zabour, Miss. Hileni', Sex='female', Age=14.5, SibSp=1, Parch=0, Ticket ='2665', Fare=14.4542, Cabin='', Embarked='C'),

In [29]:
!nvidia-smi

Wed Mar  5 21:31:49 2025
+-----------------------------------------------------------------------------------------+
| NVIDIA-SMI 550.90.07              Driver Version: 550.90.07      CUDA Version: 12.4     |
|-----------------------------------------+------------------------+----------------------+
| GPU  Name                 Persistence-M | Bus-Id          Disp.A | Volatile Uncorr. ECC |
| Fan  Temp   Perf          Pwr:Usage/Cap |           Memory-Usage | GPU-Util  Compute M. |
|                                         |                        |               MIG M. |
|=========================================+========================+======================|
|   0  NVIDIA GeForce RTX 2080 ...    Off |   00000000:05:00.0 Off |                  N/A |
|  0%   52C    P2             53W /  250W |    7342MiB /   8192MiB |      0%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+
|   1  NVIDIA GeForce RTX 2080 ...    Off |   00000000:06:00.0  On |                  N/A |
|  0%   52C    P5             28W /  250W |    1121MiB /   8192MiB |     23%      Default |
|                                         |                        |                  N/A |
+-----------------------------------------+------------------------+----------------------+

+-----------------------------------------------------------------------------------------+
| Processes:                                                                              |
|  GPU   GI   CI        PID   Type   Process name                              GPU Memory |
|        ID   ID                                                               Usage      |
|=========================================================================================|
|    0   N/A  N/A      1681      G   /usr/lib/xorg/Xorg                              4MiB |
|    0   N/A  N/A      2200      G   /usr/lib/xorg/Xorg                              4MiB |
|    0   N/A  N/A   3899101      C   ...g/anaconda3/envs/rapids2/bin/python        124MiB |
|    0   N/A  N/A   3900517      C   .../jvm/java-11-openjdk-amd64/bin/java       7204MiB |
|    1   N/A  N/A      1681      G   /usr/lib/xorg/Xorg                             59MiB |
|    1   N/A  N/A      2200      G   /usr/lib/xorg/Xorg                            682MiB |
|    1   N/A  N/A      2330      G   /usr/bin/gnome-shell                          128MiB |
|    1   N/A  N/A      3973      G   ...71,262144 --variations-seed-version        189MiB |
|    1   N/A  N/A     15901      G   ...erProcess --variations-seed-version         45MiB |
+-----------------------------------------------------------------------------------------+

In [30]:
#init spark
spark.sparkContext.cancelAllJobs()
spark.stop()

## Too Simple
---

You can read on your titanic dataset on GPU